/*.top-content{
    padding: 27px;
    border: 2px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    height: 73vh;
}

.content-text1 {
    font-size: 18px;
    font-weight: initial;
}

.Bottom-Button {
    margin-top: 15px;
    margin-left: 219px;
}*/
   