.search {
    position: relative;
    border-radius: revert;
    background-color: whitesmoke;
    width: 55%;
    margin-left: 92px;
    border-radius: 7px;
}

.search-icon {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    margin-left: 12px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.fundo-text {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.MuiAppBar-colorPrimary {
    background-color: white !important;
}

.fundoo-text {
    color: black;
}

.text {
    margin-right: 220px;
}

.image{
    border-radius: 50%;
    display: block;
}

@media (max-width: 720px) {
    .search{
        width: 500%;
        display: flex;
    }
    .search-icon {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
        margin-left: 12px;
    }
    .text {
        margin-left: 5px;
    }
    .image {
      display: none !important;
    }
}