.top-text {
    text-decoration-color: #34a853;
}

.fundooo{
    display:inline-flex;
    margin-bottom: -54px;
    font-size: 14px;
}

.content-text{
    font-size: 25px;
    font-weight: 400;
}

.top-content{
    padding: 18px;
    border: 2px solid #e0e0e0;
    display: flex;
    flex-direction: row;
}

.content{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content1{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.content2 {
    width: 95%;
    padding-top: 20px;
}

.content3 {
    width: 95%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.checkbox {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
    
.Bottom-Button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Bottom-text{
    padding-right: 165px;
    justify-content: row;
    color: blue;
}

.field-mr{
    margin-right: 5px !important;
}

.sigin-img {
    margin-left: 11%;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-text {
    width: 180px;
    margin-bottom: 70px;
}

.button{
    padding-top: 10px;
}

@media (max-width: 625px) {
    
    .top-content{
        display: flex;
        flex-direction: column;
    }
    .sigin-img {
      display: none !important;
    }
    .field-mr {
        margin-right: 5px !important;
        padding-bottom: 15px !important;
    }
    .content1 {
        flex-direction: column;
    }
    .content2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

