.top-text {
    text-decoration-color: #34a853;
}

.fundooo{
    display:inline-flex;
    margin-bottom: -54px;
    font-size: 14px;
}

.content-text{
    font-size: 25px;
    font-weight: 400;
}

.top-content{
    padding: 18px;
    border: 2px solid #e0e0e0;
}

.content{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content1{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.content2 {
    width: 70%;
    padding-top: 20px;
}

.content3 {
    width: 70%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.checkbox {
    padding-top: 20px;
}
    
.Bottom-Button {
    display: flex;
    justify-content: center;
}

.field-mr{
    margin-right: 5px !important;
}

.sigin-img {
    margin-top: -286px;
    margin-left: 400px;
}
