.top-content{
    padding: 18px;
    border: 2px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    height: 85vh;
}

.second-row{
    text-align: center;
}

.content{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-text{
    font-size: 25px;
    font-weight: 400;
}

.content-text1{
    font-size: 19px;
    font-weight: initial;
}

.content2 {
    width: 95%;
    padding-top: 20px;
}

.email-text{
    display: flex;
    text-align: start;
    color: blue;
}

.password-text {
    margin-top: 35px !important;
}

.email-notification{
    display: flex;
    text-align: start;
    margin-top: 40px;
}

.Bottom-Button {
    justify-content: start;
    margin-top: 34px;
}

.button{
    margin-left: 79px;
}
